.document-comments {
    .like-comment {
        cursor: pointer;

        &.liked {
            color: #20a8d8;
        }
    }
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}