<template name="documentShow">

  <div class="document-show">
    <div class="card">
      <div class="card-body">
        {{#if Template.subscriptionsReady}}
          <div class="float-right">
            {{{claimButton problem}}}
            {{#if problem.claimed}}
              {{#if hasClaimedProblem problem.claimedBy}}
                {{{ markAsResolved problem }}}
              {{/if}}
            {{/if}}
            {{#if isProblemOwner problem.createdBy}}
            <a class="btn btn-sm btn-secondary" href="{{pathFor 'documentEdit' documentId=problem._id}}" role="button">Edit</a>
        		<a class="btn btn-sm btn-danger js-delete-document" href="#" role="button">Delete</a>
            {{{statusButton problem}}}
            {{/if}}
          </div>

          <h3>{{problem.summary}}</h3>
          <span class="badge badge-secondary" style="margin-bottom: 20px;">{{problem.status}}</span><br>
          <p class="card-text">{{problem.description}}</p>

          <h6 class="card-subtitle text-muted">Solution:</h6>
          <p class="card-text">{{problem.solution}}</p>
          <hr>
          <p class="text-muted">
            {{#if problem.updatedAt}}
              Updated: {{showPrettyTimestamp problem.updatedAt}}<br>
            {{/if}}

          {{#if problem.claimed}}
          <strong>Claimed by {{problem.claimedFullname}} {{showTimeAgoTimestamp problem.claimedDateTime}}</strong> <br />
          {{/if}}
          Created By: {{getNameById problem.createdBy}}<br />
          Created: {{showPrettyTimestamp problem.createdAt}}
          </p>
          <a href="{{pathFor 'documentsIndex'}}" class="btn btn-link">Back</a>
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
    </div>
  </div>

{{#each comment in comments}}
  {{> documentComments comment=comment}}
{{/each}}

      <div class="document-show pb-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" id="comments" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2 documentCommentBtn">Comment</button>
            </div>
        </div>
    </div>
</template>
