<template name="documentComments">
    <div class="document-comments my-2">
        <div class="card">
            <div class="card-body">
                {{#if isCommentOwner comment}}
                <div class="comment-settings float-right dropup">
                    <i class="nav-icon icon-settings dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item edit-mode" href=""><i class="icon-pencil"></i> Edit</a>
                        <a class="dropdown-item delete-comment text-danger" data-comment-id="{{comment._id}}" href><i class="icon-trash text-danger"></i> Delete</a>
                    </div>
                </div>
                {{/if}}
               <a href="{{pathFor 'profile' userId=comment.createdBy }}"><strong>{{comment.createdByName}}</strong></a> commented {{showTimeAgoTimestamp comment.createdAt}} <br />
               {{#if editMode}}
               <textarea class="form-control" id="js-comment">{{{comment.comment}}}</textarea>
               <br />
               <div id="comment-images">
                   {{#each image in comment.images}}
                        <img src="{{image}}" height="300" /><a href="#" class="remove-comment-image" data-image="{{image}}" data-id="{{comment._id}}"><sup>X</sup></a>
                   {{/each}}
               </div>
               <br />
               <a class="btn btn-sm btn-primary edit-comment" role="button">Save</a>
               <a class="btn btn-sm btn-danger cancel-edit" role="button">Cancel</a>
               {{else}}
               <span>{{{md comment.comment}}}</span>
               <div id="comment-images">
                   {{#each comment.images}}
                        <img src="{{this}}" height="300" />
                   {{/each}}
               </div>
               <div>
                    <span class="like-comment {{#if isLiked comment}} liked {{/if}}" data-comment-id="{{comment._id}}">
                       <i class="fas fa-thumbs-up"></i>
                    </span> 
                    &nbsp;
                    <a href class="like-count" data-comment-id="{{comment._id}}">
                        liked by {{ likeCount comment }}
                    </a>
               </div>
               {{/if}}
            </div>
        </div>
    </div>
</template>
