<template name="documentShow">

  <div class="document-show">
    <div class="card {{#if problem.isProblemWithEmurgis}}border-info{{/if}}">
      <div class="card-body">
        {{#if Template.subscriptionsReady}}
          <h3>{{{md problem.summary}}}</h3>
          <div class="card-subtitle">
              {{#if problem.isProblemWithEmurgis}}
              <span class="badge badge-info">EMURGIS</span>
              {{/if}}
            {{{statusText problem.status}}}
            {{#if isProblemOwner problem.createdBy}}
            <span class="badge badge-success">My problem</span>
            {{/if}}

            
          </div>
          <br/>
          <h5 class="card-subtitle">Problem</h5>
          <p class="card-text font-weight-normal pre">{{{md problem.description}}}</p>
          <br/>
          <h5 class="card-subtitle">Solution</h5>
          <p class="card-text font-weight-normal pre">{{{md problem.solution}}}</p>
          <hr>
          <p class="text-muted float-left" style="margin:0">
            <strong>{{getNameById problem.createdBy}}</strong> created this {{showTimeAgoTimestamp problem.createdAt}} <br/>

            {{#if problem.updatedAt}}
              Updated: {{showTimeAgoTimestamp problem.updatedAt}}<br>
            {{/if}}
          {{#if problem.claimed}}
          Claimed by <strong>{{problem.claimedFullname}}</strong> {{showTimeAgoTimestamp problem.claimedDateTime}} <br />
          {{/if}}
          {{#if problem.resolved}}
            Resolved by <strong>{{resolvedByUser problem}}</strong> {{showTimeAgoTimestamp problem.resolvedDateTime}} <br>
          {{/if}}
          
          </p>
          <div class="float-right">
            {{#if isProblemOwner problem.createdBy}}
            <a class="btn btn-sm btn-secondary" href="{{pathFor 'documentEdit' documentId=problem._id}}" role="button">Edit</a>
        		<a class="btn btn-sm btn-danger js-delete-document" href="#" role="button">Delete</a>
            {{else}}
            {{#if isModerator}}
            <a class="btn btn-sm btn-danger js-delete-document" href="#" role="button">Delete</a>
            {{/if}}
            {{/if}}
          </div>
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
    </div>
    
    {{#if problem.resolveSteps}}
    <div class="card {{#if problem.hasAcceptedSolution}} border-success {{else}} border-warning {{/if}}">
      <div class="card-body">
        <h5 class="card-subtitle"> {{{ isSolutionAccepted problem }}} Submitted solution </h5>
        <hr>
        
        <span class="pre">{{problem.resolveSteps}}</span><br>
        <small><strong>{{problem.claimedFullname}}</strong> | {{showTimeAgoTimestamp problem.resolvedDateTime}} <br /></small>
      </div>
    </div>
    {{/if}}
    {{#each comment in comments}}
      {{> documentComments comment=comment}}
    {{/each}}

    <div class="card">
      <div class="card-body">
          <div class="form-group">
              <textarea class="form-control" id="comments" name="comment" rows="3" required></textarea>
          </div>
          <p class="text-danger">{{ commentInvalidMessage }}</p>
          <button type="submit" class="btn btn-primary mb-2 documentCommentBtn">Comment</button>
      </div>
    </div>

    <div class="my-2">
      <div class="take-action card">
          <div class="card-body">
            <p class="take-action-button pl-4 pt-1 mr-4 float-left">
              Take an action
            </p>
            {{#if Template.subscriptionsReady}}
            <span class="problem-action-buttons float-right">
              {{{claimButton problem}}}
              {{{watchButton problem}}}
              {{#if problem.claimed}}
                {{#if hasClaimedProblem problem.claimedBy}}
                  {{{ markAsResolved problem }}}
                {{/if}}
              {{/if}}
              {{{statusButton problem}}}

            </span>
            {{else}}
              {{> loader}}
            {{/if}}
          </div>
      </div>
    </div>

    {{> resolvedModal }}
  </div>
</template>
