<template name="documentShow">

  <div class="document-show">
    {{#if blocking}}
    <div class="card bg-warning">
      <div class="card-body">
        This problem is blocking {{pluralize blocking "other problem"}} from being completed.
      </div>
    </div>
    {{/if}}
    <div class="card {{#if problem.isProblemWithEmurgis}}border-info{{/if}}">
      <div class="card-body">
        {{#if Template.subscriptionsReady}}
          <h3>{{{md problem.summary}}}</h3>
          <div class="card-subtitle">
              {{#if problem.isProblemWithEmurgis}}
              <span class="badge badge-info">EMURGIS</span>
              {{/if}}
            {{{statusText problem.status}}}
            {{#if isProblemOwner problem.createdBy}}
            <span class="badge badge-success">My problem</span>
            {{/if}}
          </div>
          <br/>
          <h5 class="card-subtitle">Problem</h5>
          <p class="card-text font-weight-normal">{{{md problem.description}}}</p>
          <br/>
          <h5 class="card-subtitle">Solution</h5>
          <p class="card-text font-weight-normal">{{{md problem.solution}}}</p>
          {{#if dependencies.count}} <h5>Dependencies</h5> {{/if}}
          {{#each dependencies}}
            <div>
              <a href="{{pathFor 'documentShow' documentId=dependencyId}}">{{getSummaryById dependencyId}}</a>{{#if isProblemOwner problem.createdBy}} {{{statusText (getStatusById dependencyId)}}} <a class="btn btn-sm btn-danger remove-dep" style="height: 15px;font-size: 10px;padding: 0px 5px 0px 5px;" href="#" role="button">X</a>{{/if}}
            </div>
          {{/each}}
          <hr>
          <p class="text-muted float-left" style="margin:0">
            <strong>{{getNameById problem.createdBy}}</strong> created this {{showTimeAgoTimestamp problem.createdAt}} <br/>
            {{#if problem.estimate}}
            Its estimated that this problem will take <strong>{{problem.estimate}}</strong> minutes to resolve<br/>
            {{/if}}
            {{#if problem.updatedAt}}
              Updated: {{showTimeAgoTimestamp problem.updatedAt}}<br>
            {{/if}}
          {{#if problem.claimed}}
            <strong>{{problem.claimedFullname}}</strong> claimed this {{showTimeAgoTimestamp problem.claimedDateTime}} 
            {{#if isProblemOwner problem.createdBy}} 
              <button id="removeClaimer" class="btn btn-sm btn-ghost-danger" style="cursor: pointer;"> <i class="icon-close"></i> remove </button>  
            {{/if}} <br />
          {{/if}}
          {{#if problem.resolved}}
            Resolved by <strong>{{resolvedByUser problem}}</strong> {{showTimeAgoTimestamp problem.resolvedDateTime}} <br>
          {{/if}}
          {{#if problem.fyiProblem}}
            Read and understood by {{#if fyi.firstFive}}{{{fyi.firstFive}}}{{else}}no one{{/if}} {{#if fyi.more.count}}and <span title="{{fyi.more.usernames}}">{{pluralize fyi.more.count "other"}}</span>{{/if}}
          {{/if}}

          </p>
          {{#unless rejected}}
          <div class="float-right">
            {{#if isProblemOwner problem.createdBy}}
            <a class="btn btn-sm btn-secondary" href="{{pathFor 'documentEdit' documentId=problem._id}}" role="button">Edit</a>
        		<a class="btn btn-sm btn-danger js-delete-document" href="#" role="button">Delete</a>
            {{else}}
            {{#if isModerator}}
            <button data-toggle="modal" data-target="#rejectModal" class="btn btn-sm btn-danger" role="button">Delete</button>
            {{/if}}
            {{/if}}
          </div>
          {{/unless}}
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
    </div>

    {{#if problem.resolveSteps}}
    <div class="card {{#if problem.hasAcceptedSolution}} border-success {{else}} border-warning {{/if}}">
      <div class="card-body">
        <h5 class="card-subtitle"> {{{ isSolutionAccepted problem }}} Submitted solution </h5>
        <hr>

        <span class="pre">{{problem.resolveSteps}}</span><br>
        <small><strong>{{problem.claimedFullname}}</strong> | {{showTimeAgoTimestamp problem.resolvedDateTime}} <br /></small>
        {{{ acceptSolution problem }}}
      </div>
    </div>
    {{/if}}
    {{#if rejected}}
    <div class="document-show my-2">
        <div class="card">
            <div class="card-body bg-danger text-light">
               <strong>{{rejectedBy}}</strong> rejected this problem and commented {{showTimeAgoTimestamp problem.rejectedAt}} <br />
               <span>{{{md problem.rejectionReason}}}</span>
            </div>
        </div>
    </div>
    {{/if}}
    {{#each comment in comments}}
      {{> documentComments comment=comment}}
    {{/each}}

    <div class="card">
      <div class="card-body">
          <div class="form-group">
              <textarea class="form-control" id="comments" name="comment" rows="3" required></textarea>
          </div>
          <p class="text-danger">{{ commentInvalidMessage }}</p>
          <button type="submit" class="btn btn-primary mb-2 documentCommentBtn">Comment</button>
      </div>
    </div>

    {{#unless rejected}}
    <div class="my-2">
      <div class="take-action card">
          <div class="card-body">
            <p class="take-action-button pl-4 pt-1 mr-4 float-left">
              Take an action
            </p>
            {{#if Template.subscriptionsReady}}
            <span class="problem-action-buttons float-right">
              {{{claimButton problem}}}
              {{{watchButton problem}}}
              {{#if problem.claimed}}
                {{#if hasClaimedProblem problem.claimedBy}}
                  {{{ markAsResolved problem }}}
                  {{{ unsolve problem }}}
                {{/if}}
              {{/if}}
              {{{statusButton problem}}}

            </span>
            {{else}}
              {{> loader}}
            {{/if}}
          </div>
      </div>
    </div>
    {{/unless}}

    {{> resolvedModal }}
    {{> rejectModal}}
  </div>
</template>
