<template name="problemForm">
  <form>
    <div class="input-group">
      <textarea class="form-control" id="description" rows="6" value="{{problem.description}}" placeholder="Carefully describe the problem you have observed"></textarea>
      <div id="descriptionError" class="invalid-feedback"></div>
    </div>
    <small><i id="description-chars" class="text-muted"></i></small> 
    
    <div class="input-group" style="padding-top:8px;">
      <textarea class="form-control" id="solution" rows="6" value="{{problem.solution}}" placeholder="This is optional. If you have some ideas of what the simplest possible solution to this problem is, you can explain it here."></textarea>
      <div id="solutionError" class="invalid-feedback"></div>
    </div>
    <small><i id="solution-chars" class="text-muted"></i></small> 
    
    <div class="input-group" style="padding-top:8px;">
      <div class="input-group-prepend">
        <div class="input-group-text">Problem:</div>
      </div>
      
      <input type="text" class="form-control" id="summary" value="{{problem.summary}}" placeholder="summarize the problem in 50 characters or less">
      <div id="summaryError" class="invalid-feedback"></div>
    </div>
    <small><i id="summary-chars" class="text-muted"></i></small> 
    
    <div style="padding-top:8px;">
      <button type="submit" class="btn btn-primary float-right newproblem">Submit</button>
    </div>
  </form>
</template>