<template name="editProfile">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Profile</h5>
          {{# with user}}
          <form id="editProfileForm">
            <div class="form-group">
              <label for="exampleFormControlInput1">Full Name</label>
              <input type="text" class="form-control" id="fullName" value={{user.fullName}}>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="userEmail" value={{user.email}}>
            </div>
            <!-- TODO : Update UserName from here -->
            <!-- <div class="form-group">
              <label for="exampleFormControlInput1">User Name</label>
              <input type="text" class="form-control" id="userName">
            </div> -->
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</template>