<template name="userList">
  <div class="user-index">
    <div class="card">
      <div class="card-body">
        {{#if isModerator}}
        <h1>Users</h1>

        {{#if SubsCacheReady}}
            <table class="table table-hover mt-3">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Reset hidden modals</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr class="user-item">
                  <td><a href="{{pathFor 'profile' userId=_id }}">{{profile.name}}</a></td>
                  <td><a href="#" class="btn btn-sm btn-primary reset">Reset</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        {{else}}
          {{> loader}}
        {{/if}}
        {{else}}
        <h1>This page is for moderators only.</h1>
        {{/if}}
      </div>
    </div>
  </div>

</template>
