<template name="signin">
  <div class="card col-5" style="margin: 30px auto 0 auto">
    <div class="card-body">
      <h2>Login</h2>
      <form id="login">
        <div class="input-group" style="padding-top:8px;">
            <input type="text" id="email" class="form-control" placeholder="Email ID" required >
        </div>
        <div class="input-group" style="padding-top:8px;">
            <input type="password" id="password" class="form-control" placeholder="Password">
        </div>
        <div style="padding-top:8px;">
          <button type="submit" class="btn btn-primary" style="padding-top:8px;">Login</button>
        </div>
      </form>
      <div class="section-title" style="padding-top:8px;">OR Login with</div>
      {{> loginButtons}}
      <div class="sign-up-link" style="padding-top:8px;">
          Don't have an account? <a href="/signup">Create account</a>.
      </div>
    </div>
  </div>
</template>
