<template name="documentEdit">
	{{ canEditProblem problem.createdBy }}
	<div class="document-new">
		<div class="card">
			<div class="card-body">
				<h2>Edit problem</h2>

				{{#with problem}}
					<form>
						<div class="input-group">
							<textarea class="form-control" id="problemDescription" rows="6" placeholder="Carefully describe the problem you have observed" value={{description}}></textarea>
						</div>

						<div class="input-group" style="padding-top:8px;">
							<textarea class="form-control" id="solution" rows="6" placeholder="This is optional. If you have some ideas of what the simplest possible solution to this problem is, you can explain it here." value={{solution}}></textarea>
						</div>

						<div class="input-group" style="padding-top:8px;">
							<div class="input-group-prepend">
								<div class="input-group-text">Problem:</div>
							</div>

							<input type="text" class="form-control" id="problemSummary" value="{{summary}}" placeholder="summarize the problem in 60 characters or less">
						</div>

						<div style="padding-top:8px;">
							<button type="submit" class="btn btn-primary float-right newproblem">Submit</button>
						</div>
					</form>
				{{/with}}
			</div>
		</div>
	</div>
</template>
